img{
    height:10vw;
    width:10vw;
    cursor:pointer;
    display:block;
    background-color:#eabb2e;
    border-radius:50%;
    border:3px solid orange;
    box-shadow: 3px 3px orange;
}

img:hover{
    background-color:orange;
    border-radius: 50%;
}