<div id='picsGroups'>
<img height="50px" src="../../../assets/images/people.png" alt="people" title="people" (click)="click('people')"/>
<img height="50px" src="../../../assets/images/planets.png" alt="planets" title="planets" (click)="click('planets')"/>
<img height="50px" src="../../../assets/images/species.png" alt="species" title="species" (click)="click('species')"/>
<img height="50px" src="../../../assets/images/vehicles.png" alt="vehicles" title="vehicles" (click)="click('vehicles')"/>
<img height="50px" src="../../../assets/images/films.png" alt="films" title="films" (click)="click('films')"/>
<img height="50px" src="../../../assets/images/starships.png" alt="starships" title="starships" (click)="click('starships')"/>
</div>

