<div *ngIf="type === 'films'">
  <div *ngFor="let e of searchedPage.results; let i = index">
    <div (click)="toSpecElement(i + 1 + this.currentPage * 10 - 10)">
      {{ e.title }}
    </div>
  </div>
</div>
<div *ngIf="type === 'vehicles'">
  <div *ngFor="let e of searchedPage.results; let i = index">
    <div (click)="toSpecElement(i + 4 + this.currentPage * 10 - 10)">
      {{ e.name }}
    </div>
  </div>
</div>
<div *ngIf="type === 'starships'; else elseBlock">
  <div *ngFor="let e of searchedPage.results; let i = index">
    <div (click)="toSpecElement(i + 2 + this.currentPage * 10 - 10)">
      {{ e.name }}
    </div>
  </div>
</div>
<div #elseBlock>
  <div *ngFor="let e of searchedPage.results; let i = index">
    <div (click)="toSpecElement(i + 1 + this.currentPage * 10 - 10)">
      {{ e.name }}
    </div>
  </div>
</div>

<button (click)="prevPage()">Previous page</button>
<button (click)="nextPage()">Next page</button>
